@using ControlRH.Core.Enums
@model TabelaDocumentoViewModel

@{
    var properties = Model.Data.FirstOrDefault()?.GetType().GetProperties()
        .Where(p => Model.Columns.ContainsKey(p.Name))
        .ToDictionary(p => p.Name, p => p);

    var pageSize = Model.PageSize;
    var currentPage = Model.PageNumber;
    var totalPages = (int)Math.Ceiling((double)Model.TotalItems / pageSize);
    var startRecord = ((currentPage - 1) * pageSize) + 1;
    var endRecord = Math.Min(currentPage * pageSize, Model.TotalItems);

    int maxVisiblePages = 5;
    int startPage = Math.Max(1, Model.PageNumber - maxVisiblePages / 2);
    int endPage = Math.Min(totalPages, startPage + maxVisiblePages - 1);

    if (endPage - startPage < maxVisiblePages - 1)
    {
        startPage = Math.Max(1, endPage - maxVisiblePages + 1);
    }
}

<div class="card shadow">
    <div class="card-body">

        <div class="row">
            <div class="mt-3 mb-3 d-flex justify-content-between align-items-center">

                <div class="col-2">
                    <div class="d-flex justify-content-start align-items-center">
                        <label style="margin-top: 6px; margin-right: 3px;">Exibir: </label>
                        <select class="form-select form-select-sm w-auto" onchange="DynamicTable.changePageSize(this.value)">
                            @foreach (var size in new[] { 5, 10, 20, 50, 100 })
                            {
                                <option value="@size" selected="@(Model.PageSize == size ? "selected" : null)">@size</option>
                            }
                        </select>
                    </div>
                </div>

            </div>

            <table class="table table-hover align-middle custom-table">
                <thead class="table-light">
                    <tr style="border: none;">
                        @foreach (var col in Model.Columns)
                        {
                            <th scope="col">
                                <a href="javascript:void(0)" onclick="DynamicTable.sortBy('@col.Key')" class="text-decoration-none text-dark small">
                                    @col.Value <i class="bi bi-chevron-expand small"></i>
                                </a>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Data.Any())
                    {
                        <tr>
                            <td colspan="@(Model.Columns.Count + 1)" class="text-center text-muted">
                                Nenhum registro encontrado.
                            </td>
                        </tr>
                    }
                    else
                    {

                        @foreach (var documento in Model.Data)
                        {
                            <tr>
                                <td class="text-left text-muted">@documento.Nome</td>
                                <td>
                                    <a href="@Url.Action("DownloadDocumento", "PontoEletronico", new { area = "Colaborador", id = documento.Id })"
                                       class="btn btn-sm btn-outline-primary">
                                        <i class="bi bi-download"></i> Download
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            @if (Model.Data.Any())
            {
                <div class="d-flex justify-content-between align-items-center mt-1 mb-5">
                    <div class="text-muted">
                        Mostrando @startRecord a @endRecord de @Model.TotalItems registros
                    </div>
                    <nav>
                        <ul class="pagination pagination-sm mb-0">
                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" href="javascript:void(0)" onclick="DynamicTable.goToPage(@(Model.PageNumber - 1))">
                                    <i class="bi bi-chevron-left"></i>
                                </a>
                            </li>
                            @for (int i = startPage; i <= endPage; i++)
                            {
                                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                    <a class="page-link" href="javascript:void(0)" onclick="DynamicTable.goToPage(@i)">@i</a>
                                </li>
                            }
                            <li class="page-item @(Model.PageNumber == totalPages ? "disabled" : "")">
                                <a class="page-link" href="javascript:void(0)" onclick="DynamicTable.goToPage(@(Model.PageNumber + 1))">
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }


        </div>

    </div>
</div>

@section Scripts {
    <script>
        showLoading();
        $(document).ready(function () {
            hideLoading();
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });

    </script>
}